# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# JetBrains Rider
.idea/
*.sln.iml

# Test Results
[Tt]est[Rr]esult*/
*.trx
*.coverage

# .NET Core
project.lock.json
project.fragment.lock.json

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
